---
interface Props {
	href: string
}

const { href } = Astro.props
---
<a href={href} 
	class="
			flex items-center
			bg-gray-100 
			text-gray-800 text-sm font-medium 
			gap-2 px-2 py-1.5 rounded-md 
			dark:bg-gray-700 
			dark:text-gray-300
			transition-all duration-400 group
			shadow-md shadow-black
			sm:text-base lg:px-3 lg:py-2
			"
	target="_blank" rel="noopener noreferrer">
	<slot />
</a>