---
import { RESOURCES } from '@service/resourceIcons.js'
---

<div 
	class="
		flex flex-col items-center
		px-6 pt-10 pb-2 gap-5
		sm:pt-16
		">
	<div class="flex gap-6">
		<h3 class="font-bold sm:text-lg">Resources</h3>
		<ul class="flex gap-2 items-center">
			{
				RESOURCES.map(resource => (
					<li class="flex items-center">
						<resource.icon class="size-5 sm:size-6" />
					</li>
				))
			}
		</ul>
	</div>
	<div 
		class="
		text-sm font-medium
		border-t-[1px]
		px-0.5 pt-4
		opacity-85
		sm:text-lg
		"
	>
		<h2 class="px-4 py-2 text-center">© 2024 Moises Sanchez™. All Rights Reserved.</h2>	
	</div>
</div>	