<a {...Astro.props}
	class="
	flex items-center justify-center bg-gray-100 text-gray-800 text-sm font-medium 
	gap-1 px-2 py-1 rounded-md 
	dark:bg-gray-700 dark:text-gray-300
	transition-all duration-400 group
	shadow-md shadow-black
	sm:font-semibold
	hover:opacity-80
	sm:text-lg
	"
	target="_blank" rel="noopener noreferrer">
		<slot />
</a>